/* TAG SELECTORS */

h1 {
  color: red;
  font-size: 100px
}

img:hover {
  background-color: gold;
}

/* Style selectors */
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 10%;
}

/* ID Selectors - UNIQUE*/
#heading {
  color: blue;
}

#big {
  font-size: 1000px;
}
